.form-width{
    width: 30%;
}


/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenava{
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-left: 10px;
}

/* Main content */
.main {
    margin-left: 215px; /* Same as the width of the sidenav */
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media (max-width: 420px) {

    .form-width{
        width: 95%;
    }
}