<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        <g:layoutTitle default="Grails"/>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <asset:link rel="icon" href="favicon.ico" type="image/x-ico"/>

    <asset:stylesheet src="application.css"/>
    <asset:javascript src="application.js"/>

    <script type="text/javascript">
        <g:if test="${flash?.message && flash?.message?.info}">
            alert("${flash.message?.info}");
        </g:if>
    </script>

    <g:layoutHead/>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">

    <a class="navbar-brand" href="#">User Portal</a>

    <div class="nav-item dropdown">
        <UIHelper:userActionMenu/>
        <div class="dropdown-menu dropdown-menu-right">
            <g:link controller="dashboard" action="changePass" class="sidenava dropdown-item">Change Password</g:link>
            <g:link controller="user" action="logout" class="sidenava dropdown-item">Logout</g:link>
        </div>
    </div>

</nav>

<div class="sidenav border">
    <UIHelper:leftNavigation/>
</div>

<g:layoutBody/>

</body>
</html>
